@use "assets/reset";
@use "assets/variables" as *;
@use "assets/fluid-typography" as *;
@use "assets/mixins" as *;

body {
    position: relative;
}

.subscribe {
    background-color: $color-white;

    &__image > * {
        inline-size: 100%;
    }

    &__container {
        @include flex-col-space($spacing-500);
        padding: $spacing-500 $spacing-300;
    }

    &__content {
        @include flex-col-space($spacing-300);
    }

    &__header {
        @include flex-col-space($spacing-300);
    }

    &__title {
        @include fluid-typography($text-preset-1);
        color: $color-blue-800;
    }

    &__description {
        @include fluid-typography($text-preset-2);
        color: $color-blue-800;
    }

    &__list--svg-marker {
        position: relative;
        list-style: none;
    }

    &__list--svg-marker > li {
        padding-inline-start: 1.9375rem;
    }

    &__list--svg-marker > li::marker {
        content: none;
    }

    &__list--svg-marker > li::before {
        position: absolute;
        left: 0;
        content: '';
        display: inline-block;
        inline-size: 1.3125rem;
        block-size: 1.3125rem;
        background-image: url("../images/icon-list.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__item {
        @include fluid-typography($text-preset-2);
        color: $color-blue-800;
    }

    &__item:not(:last-child) {
        margin-block-end: $spacing-100;
    }

    &__form {
        @include flex-col-space($spacing-300);
    }

    &__input-container {
        @include flex-col-space($spacing-100);
    }

    &__label-container {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        @include fluid-typography($text-preset-3);
    }

    &__invalid {
        @include fluid-typography($text-preset-3);
        color: $color-red;
    }

    &__input {
        @include fluid-typography($text-preset-2);
        padding-inline-start: $spacing-300;
        color: $color-grey;
        inline-size: 100%;
        block-size: 3.5rem;
        border: 1px solid $color-grey;
        border-radius: .5rem;
    }

    &__input--invalid {
        border-color: $color-red;
        color: $color-red;
        background-color: $color-red;
    }

    &__submit {
        @include fluid-typography($text-preset-2);
        color: $color-white;
        font-weight: 700;
        inline-size: 100%;
        block-size: 3.5rem;
        background-color: $color-blue-800;
        border-radius: .5rem;
        border: none;
        cursor: pointer;
    }

    &__submit:hover {
        background-image: $color-gradient;
    }

}

.message {
    @include flex-col-space(0);
    justify-content: space-between;
    border-color: $color-white;
    block-size: 100vh;
    padding: 17.8vh $spacing-300 8.3vh $spacing-300;
    background-color: $color-white;

    &__content {
        @include flex-col-space($spacing-400);
    }

    &__title {
        @include fluid-typography($text-preset-1);
        color: $color-blue-800;
    }

    &__descriotion {
        @include fluid-typography($text-preset-2);
        color: $color-blue-800;
    }

    &__btn-dismiss {
        @extend .subscribe__submit;
    }

    &__btn-dismiss:hover {
        background-image: $color-gradient;
    }

}

@media (min-width: $viewport-mobile-l) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-block-size: 100vh;
        background-color: $color-blue-800;
        padding: $spacing-200;
    }

    .subscribe {
        inline-size: 100%;
        max-inline-size: 38.0625rem;
        padding: $spacing-500;
        border-radius: 2.25rem;

        &__image > * {
            border-radius: 1.5rem;
        }

        &__container {
            padding: $spacing-500 0 0 0;
            gap: $spacing-300;
        }

        &__form {
            gap: $spacing-200;
        }
    }

    .message {
        inline-size: 100%;
        block-size: auto;
        max-inline-size: 31.5rem;
        padding: $spacing-800;
        border-radius: 2.25rem;
        justify-content: baseline;
        gap: $spacing-400;
    }
}

@media (min-width: $viewport-laptop) {
    .subscribe {
        display: flex;
        max-inline-size: 56.5rem;
        flex-direction: row-reverse;
        padding: $spacing-300 $spacing-400;
        gap: $spacing-800;
        align-items: center;

        &__image > * {
            inline-size: 25rem;
        }

        &__container {
            gap: $spacing-400;
        }

        &__contant {
            gap: $spacing-400;
        }

        &__header {
            gap: $spacing-400;
        }

    }
}

.hidden {
    display: none;
}