/* RESET - Start */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*RESET - stop*/
body {
  position: relative;
}

.subscribe {
  background-color: #ffffff;
}
.subscribe__image > * {
  inline-size: 100%;
}
.subscribe__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem 1.5rem;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.subscribe__header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.subscribe__title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-size: clamp(2.5rem, 1.5458015267rem + 4.0712468193vi, 3.5rem);
  color: #242742;
}
.subscribe__description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  color: #242742;
}
.subscribe__list--svg-marker {
  position: relative;
  list-style: none;
}
.subscribe__list--svg-marker > li {
  padding-inline-start: 1.9375rem;
}
.subscribe__list--svg-marker > li::marker {
  content: none;
}
.subscribe__list--svg-marker > li::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  inline-size: 1.3125rem;
  block-size: 1.3125rem;
  background-image: url("../images/icon-list.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.subscribe__item {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  color: #242742;
}
.subscribe__item:not(:last-child) {
  margin-block-end: 0.5rem;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.subscribe__input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.subscribe__label-container {
  display: flex;
  justify-content: space-between;
}
.subscribe__label {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 0.75rem;
}
.subscribe__invalid {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 0.75rem;
  color: #ff6155;
}
.subscribe__input {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  padding-inline-start: 1.5rem;
  color: #949494;
  inline-size: 100%;
  block-size: 3.5rem;
  border: 1px solid #949494;
  border-radius: 0.5rem;
  color: #242742;
  outline: none;
}
.subscribe__input:focus {
  border: 1px solid #ffffff;
  outline: 3px solid #242742;
}
.subscribe__input--invalid {
  border-color: #ff6155;
  color: #ff6155;
  background-color: rgba(255, 97, 85, 0.1);
}
.subscribe__submit, .message__btn-dismiss {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  inline-size: 100%;
  block-size: 3.5rem;
  background-color: #242742;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.subscribe__submit:hover, .message__btn-dismiss:hover {
  background-image: linear-gradient(to right, #FF6A3A, #FF527B);
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  border-color: #ffffff;
  block-size: 100vh;
  padding: 17.8vh 1.5rem 8.3vh 1.5rem;
  background-color: #ffffff;
}
.message__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.message__title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-size: clamp(2.5rem, 1.5458015267rem + 4.0712468193vi, 3.5rem);
  color: #242742;
}
.message__descriotion {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  color: #242742;
}
.message__btn-dismiss:hover {
  background-image: linear-gradient(to right, #FF6A3A, #FF527B);
}

@media (min-width: 36rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 100vh;
    background-color: #242742;
    padding: 1rem;
  }
  .subscribe {
    inline-size: 100%;
    max-inline-size: 38.0625rem;
    padding: 2.5rem;
    border-radius: 2.25rem;
  }
  .subscribe__image > * {
    border-radius: 1.5rem;
  }
  .subscribe__container {
    padding: 2.5rem 0 0 0;
    gap: 1.5rem;
  }
  .subscribe__form {
    gap: 1rem;
  }
  .message {
    inline-size: 100%;
    block-size: auto;
    max-inline-size: 31.5rem;
    padding: 4rem;
    border-radius: 2.25rem;
    justify-content: baseline;
    gap: 2rem;
  }
}
@media (min-width: 64rem) {
  .subscribe {
    display: flex;
    max-inline-size: 56.5rem;
    flex-direction: row-reverse;
    padding: 1.5rem 2rem;
    gap: 4rem;
    align-items: center;
  }
  .subscribe__image > * {
    inline-size: 25rem;
  }
  .subscribe__container {
    gap: 2rem;
    padding: 0;
  }
  .subscribe__contant {
    gap: 2rem;
  }
  .subscribe__header {
    gap: 2rem;
  }
}
.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
